[alias]
    graph = log --graph --date=short --pretty=\"format:%C(yellow)%h %C(cyan)%ad %C(green)%an%Creset%x09%s %C(red)%d%Creset\"
    plog = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
    st = status
    co = checkout

[user]
    name = 44maru
    email = hoge@exapmle.com

[color]
    ui = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
#[ghq]
#    root = /home/m-nawata/dev/go/src
